# AIFFEL LMS Exploration 7

    7-9. 프로젝트 - Movielens 영화 추천 실습

 * MF 모델 학습 방법을 토대로 영화 추천 시스템 제작
 * 데이터 셋은 Movielens 사용(추천 시스템의 MNIST)
 
     * 유저가 영화에 대해 평점을 매긴 데이터가 데이터 크기 별로 있음. 
     * MovieLens 1M Dataset 사용을 권장합니다.
     * 별점 데이터는 대표적인 explicit(명시적) 데이터입니다. 
     * 하지만 implicit 데이터로 간주하고 테스트해볼 수 있습니다.
     * 별점을 시청횟수로 해석해서 생각하겠습니다.
     * 또한 유저가 3점 미만으로 준 데이터는 선호하지 않는다고 가정하고 제외하겠습니다.

# 1) 데이터 준비와 전처리

Movielens 데이터는 rating.dat 안에 이미 인덱싱까지 

완료된 사용자-영화-평점 데이터가 깔끔하게 정리되어 있습니다.

In [2]:
# 라이브러리 호출

import os
import pandas as pd

In [3]:
# 데이터 준비

rating_file_path=os.getenv('HOME') + '/aiffel/recommendata_iu/data/ml-1m/ratings.dat'
ratings_cols = ['user_id', 'movie_id', 'rating', 'timestamp']
ratings = pd.read_csv(rating_file_path, sep='::', names=ratings_cols, engine='python')
orginal_data_size = len(ratings)
ratings.head()

   user_id  movie_id  rating  timestamp
0        1      1193       5  978300760
1        1       661       3  978302109
2        1       914       3  978301968
3        1      3408       4  978300275
4        1      2355       5  978824291

In [4]:
# 3점 이상만 남깁니다.
ratings = ratings[ratings['rating']>=3]
filtered_data_size = len(ratings)

print(f'orginal_data_size: {orginal_data_size}, filtered_data_size: {filtered_data_size}')
print(f'Ratio of Remaining Data is {filtered_data_size / orginal_data_size:.2%}')

orginal_data_size: 1000209, filtered_data_size: 836478
Ratio of Remaining Data is 83.63%

In [5]:
# # rating 컬럼의 이름을 count로 바꿉니다.
# ratings.rename(columns={'rating':'count'}, inplace=True)

In [6]:
# 영화 제목을 보기 위해 메타 데이터를 읽어옵니다.
movie_file_path=os.getenv('HOME') + '/aiffel/recommendata_iu/data/ml-1m/movies.dat'
cols = ['movie_id', 'title', 'genre'] 
movies = pd.read_csv(movie_file_path, sep='::', names=cols, engine='python')
movies.head()

   movie_id                               title                         genre
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy

# 2) 분석해 봅시다.

 * ratings에 있는 유니크한 영화 개수
 * ratings에 있는 유니크한 사용자 수
 * 가장 인기있는 영화 30개(인기순)

In [7]:
# ratings에 있는 유니크한 영화 개수
ratings['movie_id'].nunique()

3628

In [8]:
# ratings에 있는 유니크한 사용자의 수
ratings['user_id'].nunique()

6039

In [9]:
# 가장 인기있는 영화 30개(인기순)

movie_count = ratings.groupby('movie_id')['user_id'].count()

# ascending=False(내림차순)
favorite_30 = movie_count.sort_values(ascending=False).head(30)

In [10]:
# Movie_id를 이름으로 변환

merge_movie = pd.merge(favorite_30, movies, on='movie_id')
favorite_30 = merge_movie[['title', 'user_id']]
favorite_30.rename(columns={'user_id': 'movie_count'}, inplace=True)
favorite_30

/home/aiffel0042/anaconda3/envs/aiffel/lib/python3.7/site-packages/pandas/core/frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

                                                title  movie_count
0                              American Beauty (1999)         3211
1           Star Wars: Episode IV - A New Hope (1977)         2910
2   Star Wars: Episode V - The Empire Strikes Back...         2885
3   Star Wars: Episode VI - Return of the Jedi (1983)         2716
4                          Saving Private Ryan (1998)         2561
5                   Terminator 2: Judgment Day (1991)         2509
6                    Silence of the Lambs, The (1991)         2498
7                      Raiders of the Lost Ark (1981)         2473
8                           Back to the Future (1985)         2460
9                                  Matrix, The (1999)         2434
10                               Jurassic Park (1993)         2413
11                            Sixth Sense, The (1999)         2385
12                                       Fargo (1996)         2371
13                                  Braveheart (1995)         2314
14                                Men in Black (1997)         2297
15                            Schindler's List (1993)         2257
16                         Princess Bride, The (1987)         2252
17                         Shakespeare in Love (1998)         2213
18                           L.A. Confidential (1997)         2210
19                   Shawshank Redemption, The (1994)         2194
20                              Godfather, The (1972)         2167
21                               Groundhog Day (1993)         2121
22                  E.T. the Extra-Terrestrial (1982)         2102
23                        Being John Malkovich (1999)         2066
24                                Ghostbusters (1984)         2051
25                                Pulp Fiction (1994)         2030
26                                Forrest Gump (1994)         2022
27                             Terminator, The (1984)         2019
28                                   Toy Story (1995)         2000
29                               Fugitive, The (1993)         1941

### 3) 내가 선호하는 영화를 5가지 골라서 rating에 추가해 줍시다.

In [11]:
# ratings에 영화 제목 열 추가
ratings = pd.merge(ratings, movies, on='movie_id')

# 불필요 열 제거
using_cols = ['user_id', 'rating', 'title']
ratings = ratings[using_cols]

ratings.head()

   user_id  rating                                   title
0        1       5  One Flew Over the Cuckoo's Nest (1975)
1        2       5  One Flew Over the Cuckoo's Nest (1975)
2       12       4  One Flew Over the Cuckoo's Nest (1975)
3       15       4  One Flew Over the Cuckoo's Nest (1975)
4       17       5  One Flew Over the Cuckoo's Nest (1975)

In [12]:
# 내가 좋아하는 영화 5가지 추가
my_favorite = ['Terminator 2: Judgment Day (1991)', 'Toy Story (1995)', 'Matrix, The (1999)', 'Sixth Sense, The (1999)', 'Men in Black (1997)']

# 'sangun'이라는 user_id가 위 영화에 rating 점수를 각 5점씩 주었다고 가정하겠습니다.
my_ratings = pd.DataFrame({'user_id': ['sangun']*5, 'title' : my_favorite, 'rating' : [5]*5})

if not ratings.isin({'user_id':['sangun']})['user_id'].any():  # user_id에 'zimin'이라는 데이터가 없다면
    ratings = ratings.append(my_ratings)                           # 위에 임의로 만든 my_favorite 데이터를 추가해 줍니다. 

ratings.tail(10)       # 잘 추가되었는지 확인해 봅시다.

       user_id  rating                                              title
836473    5851       5                           One Little Indian (1973)
836474    5854       4                              Slaughterhouse (1987)
836475    5854       3             Promise, The (Versprechen, Das) (1994)
836476    5938       4        Five Wives, Three Secretaries and Me (1998)
836477    5948       5  Identification of a Woman (Identificazione di ...
0       sangun       5                  Terminator 2: Judgment Day (1991)
1       sangun       5                                   Toy Story (1995)
2       sangun       5                                 Matrix, The (1999)
3       sangun       5                            Sixth Sense, The (1999)
4       sangun       5                                Men in Black (1997)

In [14]:
# 해당 내용을 가지고 CSR Matrix를 만드려면
# data의 요소가 정수형이어야 함
# 따라서 indexing 작업이 필요

# indexing 작업
# user_id와 title을 고유한 값으로 따로 분리 한 후,
# 분리한 Series(배열인가??)의 index값과 value를 전환하여
# values를 정수 값으로, index를 name으로 변경

# user_id와 title을 고유한 값으로 따로 분리
user_unique = ratings['user_id'].unique()
movie_unique = ratings['title'].unique()

In [15]:
# index와 name을 전환(index를 name으로, value를 숫자(이전 index)으로 변환)
user_to_idx = {v:k for k,v in enumerate(user_unique)}
movie_to_idx = {v:k for k,v in enumerate(movie_unique)}

In [17]:
# indexing을 통해 데이터 컬럼 내 값을 바꾸는 코드
# dictionary 자료형의 get 함수는 https://wikidocs.net/16 을 참고하세요.

# user_to_idx.get을 통해 user_id 컬럼의 모든 값을 인덱싱한 Series를 구해 봅시다. 
# 혹시 정상적으로 인덱싱되지 않은 row가 있다면 인덱스가 NaN이 될 테니 dropna()로 제거합니다. 
temp_user_data = ratings['user_id'].map(user_to_idx.get).dropna()

# 모든 row가 정상적으로 인덱싱되었다면
if len(temp_user_data) == len(ratings):   
    print('user_id column indexing OK!!')
    
    # data['user_id']을 인덱싱된 Series로 교체
    ratings['user_id'] = temp_user_data   
else:
    print('user_id column indexing Fail!!')

# artist_to_idx을 통해 artist 컬럼도 동일한 방식으로 인덱싱해 줍니다. 
temp_movie_data = ratings['title'].map(movie_to_idx.get).dropna()
if len(temp_movie_data) == len(ratings):
    print('title column indexing OK!!')
    ratings['title'] = temp_movie_data
else:
    print('title column indexing Fail!!')

ratings

user_id column indexing Fail!!
title column indexing OK!!

    user_id  rating  title
0         0       5      0
1         1       5      0
2         2       4      0
3         3       4      0
4         4       5      0
..      ...     ...    ...
0      6039       5     92
1      6039       5     40
2      6039       5    124
3      6039       5     38
4      6039       5    175

[836483 rows x 3 columns]

# 4) CSR matrix를 직접 만들어 봅시다.

In [18]:
from scipy.sparse import csr_matrix

num_user = ratings['user_id'].nunique()
num_movie_title = ratings['title'].nunique()

csr_data_movie = csr_matrix((ratings.rating, (ratings.user_id, ratings.title)), shape= (num_user, num_movie_title))
csr_data_movie

<6040x3628 sparse matrix of type '<class 'numpy.int64'>'
	with 836483 stored elements in Compressed Sparse Row format>

# 5) als_model = AlternatingLeastSquares 모델을 직접 구성하여 훈련시켜 봅시다.

In [19]:
from implicit.als import AlternatingLeastSquares
import os
import numpy as np

# implicit 라이브러리에서 권장하고 있는 부분입니다. 학습 내용과는 무관합니다.
os.environ['OPENBLAS_NUM_THREADS']='1'
os.environ['KMP_DUPLICATE_LIB_OK']='True'
os.environ['MKL_NUM_THREADS']='1'

In [20]:
# Implicit AlternatingLeastSquares 모델의 선언
als_model = AlternatingLeastSquares(factors=100, regularization=0.01, use_gpu=False, iterations=15, dtype=np.float32)

In [21]:
# als 모델은 input으로 (item X user 꼴의 matrix를 받기 때문에 Transpose해줍니다.)
csr_data_movie_transpose = csr_data_movie.T
csr_data_movie_transpose

<3628x6040 sparse matrix of type '<class 'numpy.int64'>'
	with 836483 stored elements in Compressed Sparse Column format>

In [22]:
# 모델 훈련
als_model.fit(csr_data_movie_transpose)

HBox(children=(FloatProgress(value=0.0, max=15.0), HTML(value='')))

In [23]:
als_model??


# 6) 내가 선호하는 5가지 영화 중 하나와 
# 그 외의 영화 하나를 골라 훈련된 모델이 예측한 나의 선호도를 파악해 보세요.

In [29]:
# als_model모델로 부터 나(사용자)의 벡터와
# 영화 Toy_story(내가 선호하는 영화) 벡터를 추출
# 영화 One Little Indian (1973)(그외 영화) 벡터를 추출
sangun, Toy_story, One_Little_Indian = user_to_idx['sangun'], movie_to_idx['Toy Story (1995)'], movie_to_idx['One Little Indian (1973)']
sangun_vector, Toy_story_vector, One_Little_Indian_vector = als_model.user_factors[sangun], als_model.item_factors[Toy_story], als_model.item_factors[One_Little_Indian]

In [30]:
# 나의 벡터
sangun_vector

array([-0.5603625 ,  0.4505748 ,  0.5669001 , -0.23003362, -0.4039458 ,
        0.25943407,  0.39498255,  0.56650174, -1.1576502 ,  0.02584512,
       -0.8501873 ,  0.36202702, -0.28842062,  0.55230224, -0.5712281 ,
        0.7837369 ,  0.39638746,  0.49892867, -0.8129371 , -0.00946595,
       -0.23912163,  0.02114581, -0.6924136 ,  0.37901032,  0.7843585 ,
       -0.46787757,  0.5032639 ,  0.9295692 ,  0.7023011 , -0.25353137,
        0.3353605 ,  0.54044974, -0.3794056 ,  0.14654009,  0.03090282,
        0.8854265 , -0.51292354,  0.4609752 ,  0.4359431 , -0.50351065,
       -0.3979103 ,  0.08474804,  0.0824995 ,  0.18044755,  0.9975338 ,
        0.24860363,  0.8919879 , -0.02578691, -0.80409443, -0.5666247 ,
       -0.3778695 ,  0.32773507,  0.3069794 , -0.40734628, -0.81897765,
        0.25485742,  1.2103451 , -0.3242189 , -0.60826606, -0.09306651,
       -0.28754961,  0.44828126, -0.52722204, -0.09816736, -1.0993963 ,
       -0.00833315, -1.1595945 , -0.05867288,  0.32855895,  1.2493378 ,
       -0.13606806, -1.2917962 , -0.2531359 , -0.12645435,  0.5004233 ,
       -0.02977192, -0.9607958 , -0.15876749, -0.04552369,  0.23290718,
        0.37779146,  0.10567254, -0.4464155 ,  0.25169113,  0.38788772,
        0.39909422, -0.42659262, -0.08359536,  0.74321747,  0.40155557,
       -0.09200327, -0.52497834,  0.7299473 , -0.10578423,  0.28440082,
       -0.6583132 ,  0.56114554, -0.26697215, -0.09485404,  0.634284  ],
      dtype=float32)

In [31]:
# Toy_story 가수 벡터
Toy_story_vector

array([ 7.13703269e-03,  2.63742022e-02,  4.52953428e-02, -8.17725714e-03,
        1.67649090e-02,  3.96982096e-02, -9.01611988e-03,  1.16119031e-02,
        1.74497603e-03,  2.18468811e-02, -2.12168992e-02,  5.68462582e-03,
       -4.26446125e-02,  1.18340785e-02,  1.43269654e-02,  2.92421859e-02,
        2.25068983e-02,  3.98178436e-02, -1.30464863e-02,  3.12403291e-02,
       -7.74481893e-03, -9.09788650e-05,  1.54506089e-03,  1.18601648e-02,
       -1.20176459e-02,  3.19792819e-03, -7.87341222e-03,  2.14771181e-02,
        1.94216706e-02, -4.89063794e-03,  2.19762754e-02,  1.22379400e-02,
        1.49826054e-02,  1.55848414e-02, -2.54235733e-02,  4.82536331e-02,
       -1.42904306e-02, -2.25529005e-03, -1.51273506e-02,  2.01046150e-02,
       -1.61800645e-02, -5.70725696e-03, -2.15578340e-02,  1.82824824e-02,
        6.31600711e-03,  4.12444510e-02,  6.09971164e-03, -9.04338807e-03,
       -2.75884084e-02, -6.92073163e-03,  1.55285038e-02, -1.74275450e-02,
        2.32735742e-02, -1.45945651e-02, -9.48003400e-03,  1.18000498e-02,
        2.65430808e-02,  6.91934396e-03, -3.08679994e-02, -2.14521289e-02,
       -9.20210686e-03,  7.09077111e-03,  2.38958560e-03,  4.61406168e-03,
        9.33232345e-03,  7.26030068e-03, -1.53659191e-02,  1.93229113e-02,
        1.57406963e-02,  1.44317746e-03, -4.27380390e-03, -1.84690114e-02,
       -1.01605980e-02,  7.27009028e-03, -3.77631234e-03, -2.16629878e-02,
       -2.33092085e-02,  5.70393633e-03, -1.19517911e-02,  1.90394279e-02,
        1.27514051e-02,  3.05432323e-02, -4.89475252e-03,  3.23303193e-02,
        3.25763710e-02,  1.03048850e-02, -7.65139144e-03, -1.82928448e-03,
       -3.92650953e-03,  2.35665645e-02, -9.59029142e-03, -2.98692286e-02,
       -3.79068358e-03,  1.13564415e-03, -1.36219775e-02, -2.24474464e-02,
        8.40516109e-03,  2.00994071e-02, -2.78728902e-02,  2.72668544e-02],
      dtype=float32)

In [32]:
# One_Little_Indian 가수 벡터
One_Little_Indian_vector

array([-4.6763028e-04,  2.8291857e-04,  5.2626734e-04,  1.6085879e-03,
       -6.9138128e-04, -9.5952731e-05,  2.3168002e-04, -5.2222254e-04,
       -9.8100409e-04,  1.4966616e-03,  5.0299644e-04,  6.2647095e-04,
        5.4632616e-04,  8.9736801e-05,  1.2930005e-04, -4.0758331e-04,
        3.7638287e-04,  9.5688790e-04,  1.2688237e-04,  1.7500592e-03,
       -4.8367507e-04, -2.9834881e-04, -2.3389686e-05, -6.9386180e-05,
        1.4379718e-03, -1.8887175e-04,  2.0810748e-04,  1.6544199e-03,
       -1.2747499e-03,  6.8973511e-04,  4.3660228e-04, -1.2534907e-03,
        8.8303391e-04,  1.0226202e-03, -9.0659206e-04, -7.4494301e-06,
        8.7843469e-04,  6.3425483e-05,  1.5699181e-03, -9.6011453e-04,
        4.6348851e-04,  9.6714939e-05,  5.5746210e-04,  1.0443524e-03,
        4.6594400e-04,  5.9169182e-04,  7.7074411e-04, -7.0355285e-04,
        1.6411262e-03,  5.8945554e-04,  1.1384265e-03, -5.4607133e-04,
        1.0711213e-03,  5.0631189e-04,  1.1671166e-03,  8.9781760e-04,
        5.5863103e-04,  1.1867274e-03, -1.3335609e-04,  1.0502528e-03,
        2.2311282e-04,  8.8000594e-04, -1.3168452e-03,  8.4640493e-04,
        8.8516761e-05,  7.3049060e-04,  6.6985126e-04, -3.1421459e-04,
        7.0094573e-04,  4.7184766e-04,  2.7571738e-04,  5.0511397e-04,
        2.8683018e-04, -9.8119478e-04,  3.5378174e-04,  3.5367042e-04,
       -5.9357710e-04,  1.6118724e-04,  2.3935342e-04,  2.4181762e-04,
        6.2591373e-04,  1.5679080e-03,  1.4411126e-03,  1.5022061e-04,
        2.2301554e-04,  8.9417078e-04,  9.2344277e-04,  9.6428004e-04,
        6.1618519e-04, -1.3700245e-04,  7.2482787e-04,  3.3623181e-04,
       -4.6289456e-04,  4.0789801e-04, -6.6506810e-04,  4.5674361e-04,
       -4.3941982e-05,  4.9159076e-04,  1.5151434e-03,  1.0307856e-03],
      dtype=float32)

In [33]:
# 내가 선호하는 영화(Toy_story)에 대한 선호도 파악

# 나(사용자)의 벡터와 Toy_story 벡터를 내적하는 코드
# 여기서 내가 Toy_story를 선호한다는 결과(=1)를 목표로 학습해야 함
np.dot(sangun_vector, Toy_story_vector)

0.47708407

In [34]:
# 내가 선호하는 5가지 영화 외의 다른 영화(One_Little_Indian)에 대한 선호도 파악

np.dot(sangun_vector, One_Little_Indian_vector)

0.0024401315

# 7) 내가 좋아하는 영화와 비슷한 영화를 추천받아 봅시다.

In [36]:
# 내가 좋아하는 영화 : Toy_story

favorite_movie = 'Toy Story (1995)'
movies_id = movie_to_idx[favorite_movie]

# N : 추천받을 영화 갯수
similar_movie = als_model.similar_items(movies_id, N=15)
similar_movie

# similart_items 메서드 : 비슷한 아이템을 찾아서
# 아티스트의 id와 유사도를 Tuple로 반환

[(40, 0.19158348),
 (50, 0.15377776),
 (33, 0.11105538),
 (4, 0.10699938),
 (322, 0.098455995),
 (110, 0.096618906),
 (330, 0.08732538),
 (20, 0.08041665),
 (10, 0.077070616),
 (255, 0.06892995),
 (160, 0.066561304),
 (126, 0.062027484),
 (545, 0.061404835),
 (16, 0.06125774),
 (32, 0.060769737)]

In [38]:
# # 데이터 확인용
# type(similar_movie)

list

In [37]:
# 추천 받은 영화 ID를 다시 이름으로 매핑

# movie_to_idx의 key(영화이름)와 value(영화 idx)를 다시 뒤집어 
# key = 영화 idx, value=영화이름 으로 저장
idx_to_movie = {v:k for k,v in movie_to_idx.items()}
[idx_to_movie[i[0]] for i in similar_movie]
# similar_movie의 각 요소(튜플)의 첫 번째 요소(영화idx)를 i[0]으로 불러오고
# 그 영화 idx에 매핑되는 영화 제목을 idx_to_movie로 불러와 리스트의 요소로 저장

['Toy Story (1995)',
 'Toy Story 2 (1999)',
 'Aladdin (1992)',
 "Bug's Life, A (1998)",
 'Babe (1995)',
 'Groundhog Day (1993)',
 'Lion King, The (1994)',
 'Pleasantville (1998)',
 'Beauty and the Beast (1991)',
 "There's Something About Mary (1998)",
 'Forrest Gump (1994)',
 'Shakespeare in Love (1998)',
 'Santa Clause, The (1994)',
 'Tarzan (1999)',
 'Hercules (1997)']

In [43]:
# 데이터 확인용
# idx_to_movie

{0: "One Flew Over the Cuckoo's Nest (1975)",
 1: 'James and the Giant Peach (1996)',
 2: 'My Fair Lady (1964)',
 3: 'Erin Brockovich (2000)',
 4: "Bug's Life, A (1998)",
 5: 'Princess Bride, The (1987)',
 6: 'Ben-Hur (1959)',
 7: 'Christmas Story, A (1983)',
 8: 'Snow White and the Seven Dwarfs (1937)',
 9: 'Wizard of Oz, The (1939)',
 10: 'Beauty and the Beast (1991)',
 11: 'Gigi (1958)',
 12: 'Miracle on 34th Street (1947)',
 13: "Ferris Bueller's Day Off (1986)",
 14: 'Sound of Music, The (1965)',
 15: 'Airplane! (1980)',
 16: 'Tarzan (1999)',
 17: 'Bambi (1942)',
 18: 'Awakenings (1990)',
 19: 'Big (1988)',
 20: 'Pleasantville (1998)',
 21: 'Wallace & Gromit: The Best of Aardman Animation (1996)',
 22: 'Back to the Future (1985)',
 23: "Schindler's List (1993)",
 24: 'Meet Joe Black (1998)',
 25: 'Pocahontas (1995)',
 26: 'E.T. the Extra-Terrestrial (1982)',
 27: 'Titanic (1997)',
 28: 'Ponette (1996)',
 29: 'Close Shave, A (1995)',
 30: 'Antz (1998)',
 31: 'Girl, Interrupted (1999)',
 32: 'Hercules (1997)',
 33: 'Aladdin (1992)',
 34: 'Mulan (1998)',
 35: 'Hunchback of Notre Dame, The (1996)',
 36: 'Last Days of Disco, The (1998)',
 37: 'Cinderella (1950)',
 38: 'Sixth Sense, The (1999)',
 39: 'Apollo 13 (1995)',
 40: 'Toy Story (1995)',
 41: 'Rain Man (1988)',
 42: 'Driving Miss Daisy (1989)',
 43: 'Run Lola Run (Lola rennt) (1998)',
 44: 'Star Wars: Episode IV - A New Hope (1977)',
 45: 'Mary Poppins (1964)',
 46: 'Dumbo (1941)',
 47: 'To Kill a Mockingbird (1962)',
 48: 'Saving Private Ryan (1998)',
 49: 'Secret Garden, The (1993)',
 50: 'Toy Story 2 (1999)',
 51: 'Fargo (1996)',
 52: 'Dead Poets Society (1989)',
 53: 'Shine (1996)',
 54: 'Verdict, The (1982)',
 55: 'Shall We Dance? (Shall We Dansu?) (1996)',
 56: 'Courage Under Fire (1996)',
 57: 'Untouchables, The (1987)',
 58: 'Mission: Impossible (1996)',
 59: 'Few Good Men, A (1992)',
 60: 'Star Wars: Episode I - The Phantom Menace (1999)',
 61: 'Rebel Without a Cause (1955)',
 62: 'Total Recall (1990)',
 63: 'Hustler, The (1961)',
 64: 'Star Wars: Episode VI - Return of the Jedi (1983)',
 65: 'U.S. Marshalls (1998)',
 66: 'Jackal, The (1997)',
 67: 'Gladiator (2000)',
 68: 'Double Jeopardy (1999)',
 69: 'Yojimbo (1961)',
 70: 'Ran (1985)',
 71: 'Snake Eyes (1998)',
 72: 'Fisher King, The (1991)',
 73: 'Mister Roberts (1955)',
 74: 'Day the Earth Stood Still, The (1951)',
 75: 'Hunt for Red October, The (1990)',
 76: 'Outbreak (1995)',
 77: 'Simon Birch (1998)',
 78: 'Stand and Deliver (1987)',
 79: 'Maverick (1994)',
 80: 'Stand by Me (1986)',
 81: 'Green Mile, The (1999)',
 82: 'Lost World: Jurassic Park, The (1997)',
 83: 'Gandhi (1982)',
 84: 'Strictly Ballroom (1992)',
 85: 'League of Their Own, A (1992)',
 86: 'Bodyguard, The (1992)',
 87: 'Braveheart (1995)',
 88: 'Ronin (1998)',
 89: 'Payback (1999)',
 90: 'Spanish Prisoner, The (1997)',
 91: 'Close Encounters of the Third Kind (1977)',
 92: 'Terminator 2: Judgment Day (1991)',
 93: 'Alien: Resurrection (1997)',
 94: 'Guns of Navarone, The (1961)',
 95: "Soldier's Story, A (1984)",
 96: 'On the Waterfront (1954)',
 97: 'Picnic (1955)',
 98: 'Mis�rables, Les (1998)',
 99: 'American Beauty (1999)',
 100: 'Amadeus (1984)',
 101: 'Remains of the Day, The (1993)',
 102: 'Demolition Man (1993)',
 103: 'Children of a Lesser God (1986)',
 104: 'Like Water for Chocolate (Como agua para chocolate) (1992)',
 105: 'Last of the Mohicans, The (1992)',
 106: 'Bonnie and Clyde (1967)',
 107: 'Jurassic Park (1993)',
 108: 'Prefontaine (1997)',
 109: 'Doctor Zhivago (1965)',
 110: 'Groundhog Day (1993)',
 111: 'Die Hard 2 (1990)',
 112: 'Man in the Iron Mask, The (1998)',
 113: 'Star Trek VI: The Undiscovered Country (1991)',
 114: 'Enemy of the State (1998)',
 115: 'Key Largo (1948)',
 116: 'Dances with Wolves (1990)',
 117: 'Star Wars: Episode V - The Empire Strikes Back (1980)',
 118: 'Con Air (1997)',
 119: 'Twister (1996)',
 120: 'Raiders of the Lost Ark (1981)',
 121: 'Silence of the Lambs, The (1991)',
 122: 'Waking Ned Devine (1998)',
 123: 'Ghostbusters II (1989)',
 124: 'Matrix, The (1999)',
 125: 'Armageddon (1998)',
 126: 'Shakespeare in Love (1998)',
 127: 'Serpico (1973)',
 128: 'French Connection, The (1971)',
 129: 'Conspiracy Theory (1997)',
 130: 'What About Bob? (1991)',
 131: 'Rocky (1976)',
 132: 'Kramer Vs. Kramer (1979)',
 133: 'Ed Wood (1994)',
 134: 'On Golden Pond (1981)',
 135: 'Chariots of Fire (1981)',
 136: 'Desperado (1995)',
 137: 'Die Hard: With a Vengeance (1995)',
 138: 'True Lies (1994)',
 139: 'October Sky (1999)',
 140: 'Clear and Present Danger (1994)',
 141: 'Fugitive, The (1993)',
 142: "Sophie's Choice (1982)",
 143: 'Gone with the Wind (1939)',
 144: 'Getaway, The (1994)',
 145: 'Fifth Element, The (1997)',
 146: 'Thelma & Louise (1991)',
 147: 'Under Siege (1992)',
 148: "Guess Who's Coming to Dinner (1967)",
 149: 'Grapes of Wrath, The (1940)',
 150: 'Independence Day (ID4) (1996)',
 151: 'Mr. Jones (1993)',
 152: 'Spartacus (1960)',
 153: 'Lethal Weapon 3 (1992)',
 154: 'As Good As It Gets (1997)',
 155: 'Indochine (1992)',
 156: 'Mask of Zorro, The (1998)',
 157: 'Shawshank Redemption, The (1994)',
 158: 'Man with the Golden Arm, The (1955)',
 159: 'Manhattan (1979)',
 160: 'Forrest Gump (1994)',
 161: 'Graduate, The (1967)',
 162: 'Animal House (1978)',
 163: 'Raising Arizona (1987)',
 164: '28 Days (2000)',
 165: 'Happy Gilmore (1996)',
 166: 'Golden Child, The (1986)',
 167: 'Beverly Hills Ninja (1997)',
 168: 'Naked Gun: From the Files of Police Squad!, The (1988)',
 169: 'Fish Called Wanda, A (1988)',
 170: 'Being John Malkovich (1999)',
 171: 'Edge, The (1997)',
 172: 'Indiana Jones and the Last Crusade (1989)',
 173: 'Dragonheart (1996)',
 174: 'Blade (1998)',
 175: 'Men in Black (1997)',
 176: 'Ghost and the Darkness, The (1996)',
 177: 'Three Musketeers, The (1993)',
 178: 'Unforgiven (1992)',
 179: 'Rock, The (1996)',
 180: 'Young Guns (1988)',
 181: 'Young Guns II (1990)',
 182: 'Caddyshack (1980)',
 183: 'Butch Cassidy and the Sundance Kid (1969)',
 184: 'Crocodile Dundee (1986)',
 185: 'Easy Rider (1969)',
 186: 'Blazing Saddles (1974)',
 187: 'Deliverance (1972)',
 188: 'Indiana Jones and the Temple of Doom (1984)',
 189: 'Breakfast Club, The (1985)',
 190: 'Monty Python and the Holy Grail (1974)',
 191: 'Little Mermaid, The (1989)',
 192: 'Fistful of Dollars, A (1964)',
 193: 'Alien (1979)',
 194: 'Die Hard (1988)',
 195: 'Mad Max (1979)',
 196: 'King Kong (1933)',
 197: 'Jaws (1975)',
 198: 'Good, The Bad and The Ugly, The (1966)',
 199: 'Goldfinger (1964)',
 200: 'Terminator, The (1984)',
 201: 'Who Framed Roger Rabbit? (1988)',
 202: 'Gods and Monsters (1998)',
 203: 'Delicatessen (1991)',
 204: 'Clueless (1995)',
 205: 'Velvet Goldmine (1998)',
 206: 'Love! Valour! Compassion! (1997)',
 207: 'Citizen Ruth (1996)',
 208: 'Donnie Brasco (1997)',
 209: 'Wings of the Dove, The (1997)',
 210: 'Bound (1996)',
 211: 'Mrs. Dalloway (1997)',
 212: 'Bowfinger (1999)',
 213: 'Before Sunrise (1995)',
 214: 'Four Days in September (1997)',
 215: 'Orlando (1993)',
 216: 'Bridge on the River Kwai, The (1957)',
 217: 'Piano, The (1993)',
 218: 'Richard III (1995)',
 219: 'Pok�mon the Movie 2000 (2000)',
 220: 'Seven (Se7en) (1995)',
 221: 'South Park: Bigger, Longer and Uncut (1999)',
 222: 'Pulp Fiction (1994)',
 223: 'Celluloid Closet, The (1995)',
 224: 'L.A. Confidential (1997)',
 225: 'Cold Comfort Farm (1995)',
 226: 'Priest (1994)',
 227: 'Ravenous (1999)',
 228: 'X-Files: Fight the Future, The (1998)',
 229: 'Don Juan DeMarco (1995)',
 230: 'Death and the Maiden (1994)',
 231: 'Insider, The (1999)',
 232: 'Beautiful Thing (1996)',
 233: 'Usual Suspects, The (1995)',
 234: 'Paris Is Burning (1990)',
 235: 'Sleepy Hollow (1999)',
 236: 'Speed (1994)',
 237: 'All About My Mother (Todo Sobre Mi Madre) (1999)',
 238: 'Thin Red Line, The (1998)',
 239: 'Faculty, The (1998)',
 240: 'Pecker (1998)',
 241: 'Pillow Book, The (1995)',
 242: 'Out of Sight (1998)',
 243: 'Ghostbusters (1984)',
 244: 'Liar Liar (1997)',
 245: 'Player, The (1992)',
 246: 'Crumb (1994)',
 247: 'Creepshow (1982)',
 248: 'Good Will Hunting (1997)',
 249: 'Topsy-Turvy (1999)',
 250: 'Edward Scissorhands (1990)',
 251: 'Ice Storm, The (1997)',
 252: 'Trick (1999)',
 253: 'Mystery Men (1999)',
 254: 'Pi (1998)',
 255: "There's Something About Mary (1998)",
 256: 'Go (1999)',
 257: 'Night of the Living Dead (1968)',
 258: 'Wild Reeds (1994)',
 259: 'Men With Guns (1997)',
 260: 'Living in Oblivion (1995)',
 261: 'Go Fish (1994)',
 262: "Jackie Chan's First Strike (1996)",
 263: 'Office Killer (1997)',
 264: 'Mrs. Brown (Her Majesty, Mrs. Brown) (1997)',
 265: 'Sweet Hereafter, The (1997)',
 266: 'Fast, Cheap & Out of Control (1997)',
 267: 'Strawberry and Chocolate (Fresa y chocolate) (1993)',
 268: 'Poseidon Adventure, The (1972)',
 269: 'GoodFellas (1990)',
 270: 'Love and Death on Long Island (1997)',
 271: 'Election (1999)',
 272: 'Grosse Pointe Blank (1997)',
 273: 'Fight Club (1999)',
 274: 'All Over Me (1997)',
 275: 'Washington Square (1997)',
 276: 'North by Northwest (1959)',
 277: 'Babe: Pig in the City (1998)',
 278: 'Jackie Brown (1997)',
 279: "Jacob's Ladder (1990)",
 280: 'Three Kings (1999)',
 281: 'Casino (1995)',
 282: "Billy's Hollywood Screen Kiss (1997)",
 283: 'Smoke (1995)',
 284: 'Nightmare Before Christmas, The (1993)',
 285: "Romy and Michele's High School Reunion (1997)",
 286: 'Incredibly True Adventure of Two Girls in Love, The (1995)',
 287: 'Happiness (1998)',
 288: 'Austin Powers: International Man of Mystery (1997)',
 289: 'Reservoir Dogs (1992)',
 290: 'Howards End (1992)',
 291: 'Maltese Falcon, The (1941)',
 292: 'Kundun (1997)',
 293: 'Final Destination (2000)',
 294: 'Waiting for Guffman (1996)',
 295: 'Big Lebowski, The (1998)',
 296: 'Afterglow (1997)',
 297: 'Little Voice (1998)',
 298: 'My Life in Pink (Ma vie en rose) (1997)',
 299: 'Mariachi, El (1992)',
 300: 'Shanghai Noon (2000)',
 301: 'Rushmore (1998)',
 302: 'Austin Powers: The Spy Who Shagged Me (1999)',
 303: 'Dick (1999)',
 304: 'Big Night (1996)',
 305: 'Fear and Loathing in Las Vegas (1998)',
 306: 'Opposite of Sex, The (1998)',
 307: 'Madness of King George, The (1994)',
 308: 'Bullets Over Broadway (1994)',
 309: 'Cruise, The (1998)',
 310: 'City of Lost Children, The (1995)',
 311: 'Welcome to the Dollhouse (1995)',
 312: 'Glengarry Glen Ross (1992)',
 313: 'Nowhere (1997)',
 314: 'Much Ado About Nothing (1993)',
 315: "Boys Don't Cry (1999)",
 316: 'Misery (1990)',
 317: 'Twelve Monkeys (1995)',
 318: 'Rosencrantz and Guildenstern Are Dead (1990)',
 319: 'High Art (1998)',
 320: 'Bob Roberts (1992)',
 321: "But I'm a Cheerleader (1999)",
 322: 'Babe (1995)',
 323: 'Dead Man Walking (1995)',
 324: 'Dead Man (1995)',
 325: 'Romancing the Stone (1984)',
 326: 'Top Gun (1986)',
 327: 'Gone in 60 Seconds (2000)',
 328: "Pete's Dragon (1977)",
 329: 'Anastasia (1997)',
 330: 'Lion King, The (1994)',
 331: "Murphy's Romance (1985)",
 332: 'Moonstruck (1987)',
 333: 'Jeremiah Johnson (1972)',
 334: 'Outlaw Josey Wales, The (1976)',
 335: 'To Gillian on Her 37th Birthday (1996)',
 336: 'Pretty Woman (1990)',
 337: 'Wyatt Earp (1994)',
 338: 'Other Sister, The (1999)',
 339: 'Arthur (1981)',
 340: "My Best Friend's Wedding (1997)",
 341: 'Mighty Ducks, The (1992)',
 342: 'Blue Hawaii (1961)',
 343: 'Gypsy (1962)',
 344: 'Tequila Sunrise (1988)',
 345: 'Keeping the Faith (2000)',
 346: 'Patriot, The (2000)',
 347: 'Magnum Force (1973)',
 348: 'Babes in Toyland (1961)',
 349: "Prizzi's Honor (1985)",
 350: 'Roustabout (1964)',
 351: 'Room with a View, A (1986)',
 352: 'Emma (1996)',
 353: 'Apple Dumpling Gang, The (1975)',
 354: 'West Side Story (1961)',
 355: 'Straight Story, The (1999)',
 356: 'Legends of the Fall (1994)',
 357: 'Sense and Sensibility (1995)',
 358: 'Starman (1984)',
 359: 'Benny & Joon (1993)',
 360: 'Dirty Dancing (1987)',
 361: 'Casablanca (1942)',
 362: 'Umbrellas of Cherbourg, The (Parapluies de Cherbourg, Les) (1964)',
 363: 'Paulie (1998)',
 364: 'Peggy Sue Got Married (1986)',
 365: 'Splash (1984)',
 366: 'Out of Africa (1985)',
 367: 'Grease (1978)',
 368: 'Little Big League (1994)',
 369: 'Witness (1985)',
 370: 'Where the Heart Is (2000)',
 371: 'Supercop (1992)',
 372: 'X-Men (2000)',
 373: 'Heat (1995)',
 374: 'Exorcist, The (1973)',
 375: 'Face/Off (1997)',
 376: 'Backdraft (1991)',
 377: 'In the Line of Fire (1993)',
 378: 'Tomorrow Never Dies (1997)',
 379: 'Patriot Games (1992)',
 380: 'Godfather: Part II, The (1974)',
 381: 'Elizabeth (1998)',
 382: 'Natural Born Killers (1994)',
 383: "Mo' Better Blues (1990)",
 384: 'Jerry Maguire (1996)',
 385: 'Truman Show, The (1998)',
 386: 'Philadelphia (1993)',
 387: 'Batman: Mask of the Phantasm (1993)',
 388: 'Dead Presidents (1995)',
 389: 'Moll Flanders (1996)',
 390: 'Mr. Saturday Night (1992)',
 391: 'Cider House Rules, The (1999)',
 392: 'Summer of Sam (1999)',
 393: 'Private Parts (1997)',
 394: 'Amistad (1997)',
 395: 'Rob Roy (1995)',
 396: 'Poetic Justice (1993)',
 397: 'Waiting to Exhale (1995)',
 398: 'Soul Food (1997)',
 399: 'Anna and the King (1999)',
 400: 'Postino, Il (The Postman) (1994)',
 401: 'Eyes Wide Shut (1999)',
 402: 'He Got Game (1998)',
 403: 'Buffalo 66 (1998)',
 404: "Devil's Own, The (1997)",
 405: 'Dolores Claiborne (1994)',
 406: 'People vs. Larry Flynt, The (1996)',
 407: 'Crimson Tide (1995)',
 408: 'Hamlet (1996)',
 409: 'Rudy (1993)',
 410: "William Shakespeare's Romeo and Juliet (1996)",
 411: 'Firm, The (1993)',
 412: 'Deconstructing Harry (1997)',
 413: 'Akira (1988)',
 414: 'Ghost in the Shell (Kokaku kidotai) (1995)',
 415: 'Cyrano de Bergerac (1990)',
 416: 'Chasing Amy (1997)',
 417: 'Prince of Tides, The (1991)',
 418: 'What Dreams May Come (1998)',
 419: 'JFK (1991)',
 420: 'Heaven & Earth (1993)',
 421: 'Midnight in the Garden of Good and Evil (1997)',
 422: 'Six Degrees of Separation (1993)',
 423: 'Hilary and Jackie (1998)',
 424: 'Mis�rables, Les (1995)',
 425: 'Malcolm X (1992)',
 426: 'Bridges of Madison County, The (1995)',
 427: 'Interview with the Vampire (1994)',
 428: 'Alive (1993)',
 429: 'Scent of a Woman (1992)',
 430: 'Inkwell, The (1994)',
 431: 'Gattaca (1997)',
 432: 'Taxi Driver (1976)',
 433: 'Far and Away (1992)',
 434: 'Cop Land (1997)',
 435: 'Godfather: Part III, The (1990)',
 436: 'Nixon (1995)',
 437: "What's Eating Gilbert Grape (1993)",
 438: 'Beloved (1998)',
 439: 'My Crazy Life (Mi vida loca) (1993)',
 440: 'True Romance (1993)',
 441: "Eve's Bayou (1997)",
 442: 'Hard-Boiled (Lashou shentan) (1992)',
 443: 'Great Expectations (1998)',
 444: 'High Fidelity (2000)',
 445: 'Red Violin, The (Le Violon rouge) (1998)',
 446: "General's Daughter, The (1999)",
 447: 'Adventures of Priscilla, Queen of the Desert, The (1994)',
 448: 'Powder (1995)',
 449: 'Leaving Las Vegas (1995)',
 450: 'Life Is Beautiful (La Vita � bella) (1997)',
 451: 'American History X (1998)',
 452: 'Cruel Intentions (1999)',
 453: 'Boogie Nights (1997)',
 454: 'Joy Luck Club, The (1993)',
 455: 'Robin Hood: Prince of Thieves (1991)',
 456: 'Arachnophobia (1990)',
 457: 'Nell (1994)',
 458: 'Mask, The (1994)',
 459: 'Clerks (1994)',
 460: 'Boiler Room (2000)',
 461: 'Meet the Parents (2000)',
 462: 'Time to Kill, A (1996)',
 463: 'Frequency (2000)',
 464: 'Rules of Engagement (2000)',
 465: 'Quiz Show (1994)',
 466: 'Wedding Singer, The (1998)',
 467: 'Cape Fear (1991)',
 468: 'Magnolia (1999)',
 469: 'Searching for Bobby Fischer (1993)',
 470: 'Swingers (1996)',
 471: 'Star Trek: First Contact (1996)',
 472: 'Sling Blade (1996)',
 473: 'Hurricane, The (1999)',
 474: 'Chicken Run (2000)',
 475: 'My Cousin Vinny (1992)',
 476: 'Wrong Trousers, The (1993)',
 477: 'Return to Paradise (1998)',
 478: "Wayne's World (1992)",
 479: 'Contact (1997)',
 480: 'Grand Day Out, A (1992)',
 481: 'Kolya (1996)',
 482: 'Mission: Impossible 2 (2000)',
 483: 'Trainspotting (1996)',
 484: 'Tango Lesson, The (1997)',
 485: 'Age of Innocence, The (1993)',
 486: 'Remember the Titans (2000)',
 487: 'Boat, The (Das Boot) (1981)',
 488: 'When Harry Met Sally... (1989)',
 489: 'Cutting Edge, The (1992)',
 490: 'Hype! (1996)',
 491: 'Bronx Tale, A (1993)',
 492: "Midsummer Night's Dream, A (1999)",
 493: 'Defending Your Life (1991)',
 494: 'Breaking Away (1979)',
 495: 'Prophecy II, The (1998)',
 496: 'Alien� (1992)',
 497: 'Addams Family, The (1991)',
 498: 'Ever After: A Cinderella Story (1998)',
 499: 'Honey, I Shrunk the Kids (1989)',
 500: 'Chinatown (1974)',
 501: 'Treasure of the Sierra Madre, The (1948)',
 502: 'Naked Gun 2 1/2: The Smell of Fear, The (1991)',
 503: 'Duck Soup (1933)',
 504: 'Better Off Dead... (1985)',
 505: 'Lost in Space (1998)',
 506: 'American Graffiti (1973)',
 507: 'Home Alone (1990)',
 508: 'Ghost (1990)',
 509: 'Teenage Mutant Ninja Turtles (1990)',
 510: 'To Sir with Love (1967)',
 511: 'Blast from the Past (1999)',
 512: 'Message in a Bottle (1999)',
 513: 'Jumanji (1995)',
 514: 'My Favorite Martian (1999)',
 515: 'Batman Forever (1995)',
 516: 'Sabrina (1995)',
 517: 'Adventures in Babysitting (1987)',
 518: 'Doctor Dolittle (1967)',
 519: 'Nutty Professor, The (1963)',
 520: "Charlotte's Web (1973)",
 521: 'Phenomenon (1996)',
 522: 'Watership Down (1978)',
 523: 'Michael (1996)',
 524: "Bram Stoker's Dracula (1992)",
 525: 'Arsenic and Old Lace (1944)',
 526: 'Superman (1978)',
 527: 'Batman (1989)',
 528: 'Pinocchio (1940)',
 529: 'Good Earth, The (1937)',
 530: 'Lethal Weapon 4 (1998)',
 531: 'Dark Crystal, The (1982)',
 532: "'burbs, The (1989)",
 533: 'Fried Green Tomatoes (1991)',
 534: 'Carrie (1976)',
 535: 'Journey of Natty Gann, The (1985)',
 536: 'Jungle Book, The (1967)',
 537: 'Cool Hand Luke (1967)',
 538: 'Spy Hard (1996)',
 539: 'Mystery Science Theater 3000: The Movie (1996)',
 540: 'Young Frankenstein (1974)',
 541: 'All Quiet on the Western Front (1930)',
 542: 'Rocky Horror Picture Show, The (1975)',
 543: 'Harry and the Hendersons (1987)',
 544: 'Stargate (1994)',
 545: 'Santa Clause, The (1994)',
 546: 'Houseguest (1994)',
 547: 'Lady and the Tramp (1955)',
 548: 'Fantasia (1940)',
 549: 'High Noon (1952)',
 550: 'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1963)',
 551: 'Peter Pan (1953)',
 552: 'Somewhere in Time (1980)',
 553: "Pee-wee's Big Adventure (1985)",
 554: 'War of the Worlds, The (1953)',
 555: 'Heart and Souls (1993)',
 556: 'River Runs Through It, A (1992)',
 557: 'Producers, The (1968)',
 558: 'Star Trek: Generations (1994)',
 559: 'Robin Hood (1973)',
 560: 'Nine Months (1995)',
 561: 'NeverEnding Story, The (1984)',
 562: 'Little Big Man (1970)',
 563: 'Rescuers, The (1977)',
 564: 'Trading Places (1983)',
 565: 'Return from Witch Mountain (1978)',
 566: "Breakfast at Tiffany's (1961)",
 567: 'First Wives Club, The (1996)',
 568: 'Return to Oz (1985)',
 569: 'Rear Window (1954)',
 570: 'Rocketeer, The (1991)',
 571: 'Being There (1979)',
 572: 'Sleeping Beauty (1959)',
 573: 'M*A*S*H (1970)',
 574: 'Jack (1996)',
 575: 'Little Shop of Horrors (1986)',
 576: 'Escape to Witch Mountain (1975)',
 577: 'Tom Jones (1963)',
 578: 'Tommy Boy (1995)',
 579: 'While You Were Sleeping (1995)',
 580: 'Practical Magic (1998)',
 581: 'Star Trek: The Motion Picture (1979)',
 582: 'Beetlejuice (1988)',
 583: 'Star Trek: The Wrath of Khan (1982)',
 584: 'Star Trek III: The Search for Spock (1984)',
 585: 'Sabrina (1954)',
 586: 'Star Trek IV: The Voyage Home (1986)',
 587: 'Batman Returns (1992)',
 588: 'Roman Holiday (1953)',
 589: 'Meet Me in St. Louis (1944)',
 590: 'Old Yeller (1957)',
 591: '13th Warrior, The (1999)',
 592: 'Gold Rush, The (1925)',
 593: 'Homeward Bound: The Incredible Journey (1993)',
 594: 'Shaggy Dog, The (1959)',
 595: '20,000 Leagues Under the Sea (1954)',
 596: 'Hook (1991)',
 597: 'Ace Ventura: Pet Detective (1994)',
 598: 'Mixed Nuts (1994)',
 599: 'Hero (1992)',
 600: 'Miracle on 34th Street (1994)',
 601: 'Citizen Kane (1941)',
 602: '2001: A Space Odyssey (1968)',

In [44]:
# # 데이터 확인용
# idx_to_movie[0]

"One Flew Over the Cuckoo's Nest (1975)"

# 8) 내가 가장 좋아할 만한 영화들을 추천받아 봅시다.

AlternatingLeastSquares 클래스에 구현되어 있는 
recommend 메서드 이용

In [45]:
# 'sangun'의 idx값을 가져옴
user = user_to_idx['sangun']


# recommend에서는 user*item CSR Matrix를 받습니다.
movie_recommended = als_model.recommend(user, csr_data_movie, N=20, filter_already_liked_items=True)
movie_recommended

[(107, 0.6527393),
 (62, 0.44390023),
 (141, 0.43982577),
 (50, 0.36533713),
 (121, 0.35032588),
 (670, 0.3223219),
 (200, 0.3174786),
 (60, 0.30255914),
 (110, 0.27575082),
 (75, 0.27196938),
 (22, 0.25415683),
 (160, 0.23862839),
 (145, 0.23575914),
 (64, 0.22905965),
 (375, 0.221074),
 (82, 0.21701594),
 (317, 0.21480972),
 (44, 0.21026692),
 (4, 0.20858629),
 (150, 0.20734999)]

In [46]:
# movie idx를 영화 제목으로 다시 매핑
[idx_to_movie[i[0]] for i in movie_recommended]

['Jurassic Park (1993)',
 'Total Recall (1990)',
 'Fugitive, The (1993)',
 'Toy Story 2 (1999)',
 'Silence of the Lambs, The (1991)',
 'Galaxy Quest (1999)',
 'Terminator, The (1984)',
 'Star Wars: Episode I - The Phantom Menace (1999)',
 'Groundhog Day (1993)',
 'Hunt for Red October, The (1990)',
 'Back to the Future (1985)',
 'Forrest Gump (1994)',
 'Fifth Element, The (1997)',
 'Star Wars: Episode VI - Return of the Jedi (1983)',
 'Face/Off (1997)',
 'Lost World: Jurassic Park, The (1997)',
 'Twelve Monkeys (1995)',
 'Star Wars: Episode IV - A New Hope (1977)',
 "Bug's Life, A (1998)",
 'Independence Day (ID4) (1996)']

# 결과 및 느낀점

 * 결과
     - CSR Matrix가 정상적으로 생성되고
     - MF 모델을 통하여 훈련 및 추천을 통해 선호하는 영화와 유사 영화 및
       사용자(나)에 대한 추천 영화가 잘 나타나서 잘 수행된 것 같습니다.
       

 * 느낀점
     - 데이터가 90년대 외화를 기반이어서 알고 있는 영화가 많지 않은점이 아쉬웠습니다.
       만일, 비교적 최신 영화와 국내 영화에 대한 데이터를 얻을 수 있다면, 
       보다 알고리즘의 성능이 직접적으로 와닿을 것 같습니다.
     - 영화 index값과 영와 제목으로 서로 매핑하여 전환하는 과정이 처음에 어려웠는데,
       퍼실님 설명을 통해 어렵지만, 간결하고 유용한 문법을 잘 숙지하게 되었습니다.